<!-- Start company-details section -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 company-detail-img wow fadeInLeft">
                    <img src="themes/custom/healthcare_theme/images/hospital.jpg" alt="company-images" class="img-responsive">
                </div>
                <div class="col-md-6 company-detail-description wow fadeInRight">
                    <h2 class="pb-3">About DigiTech Healthcare</h2>
                    <p class="text-align">DigiTech Healthcare Hospital,Whitefield, Bangalore is a multispecialty hospital situated in the heart of Bangalore City. The Latin Arch Diocese of Trivandrum on the 50th year of its inception ie, on July 27th 1987 established DigiTech Healthcare, to mark the Golden Jubilee of the Diocese with the mission “Promotion of life through healthcare with love”.</p>
                    <p class="text-align">igiTech Healthcare Hospital strives to provide compassionate, Christ – centered, cost effective, quality health care. The hard work and commitment of all staff, from doctors to nurses, technicians to office staff, housekeeping staff, supporting staff, volunteers and several other categories of staff who gave gone beyond their call of duty to cater to the needs of the patients. Several new projects are currently underway. There is a concerted effort to improve the efficiency of services, streamline processes and make the hospital more patient friendly.</p>
                </div>
            </div>
        </div>
    </section>
<!-- End company-details section -->

<!-- Chairman Message starts -->
    <section class="chairmanMessage mb-4 mt-5">
        <div class="container">
            <div class="row align-items-center">  
                <div class="col-md-4 company-detail-img wow fadeInLeft text-align-center">
                    <img src="themes/custom/healthcare_theme/images/doctor_1.jpg" alt="company-images" class="img-responsive">
                    <p class="m-0 p-1"><b>Dr John Sam</b></p>
                    <p class="p-0">Chairman</p>
                </div>               
                <div class="col-md-8 company-detail-description wow fadeInRight">
                    <h2>Director Message</h2>
                    <p class="text-justify">In the region of Bangalore, DigiTech distinguishes itself in more than one ways, be it availability of cutting edge, advanced facilities in the world, some of the most eminent names in several medical specialities and super specialities and availability of comprehensive medical care including oncology under one roof  and our passion of getting you healthy faster through curing and caring. Today, patients come to DigiTech expecting the best. It says a lot about the reputation that has been built over the years and the expectations we need to live up to each time a patient approaches us.</p>
                </div>                
            </div>
        </div>
    </section>
<!-- Chairman Message ends -->

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Mission</h2>
                <ul>
                    <li>Learner centered health care education</li>
                    <li>Patient centered service</li>
                    <li>Community oriented research</li>
                    <li>Strong community relationship</li>
                    <li>Serve the under served</li>
                    <li>Inter organizational linkage</li>
                    <li>Strategic future oriented planning</li>
                    <li>Professionalism in management</li>
                    <li>Open organizational climate</li>
                    <li>Excellence in knowledge skills and service</li>
                </ul>
            </div>
            <div class="col-md-6 ">
                <h2>Vision</h2>
                <ul>
                    <li>Total quality management</li>
                    <li>To impart knowledge & interact with organizations of similar interest</li>
                    <li>Promote use of technology of relevance</li>
                    <li>Strong community relationship</li>
                    <li>Serve the under served</li>
                    <li>Inter organizational linkage</li>
                    <li>Reach the unreachable with awareness, education & service</li>
                    <li>Professionalism in management</li>
                    <li>Open organizational climate</li>
                </ul>
            </div>
        </div>
    </div>
</section>