<div class=" col-3"></div>

<div class="views-col col-4" style="margin-left: 15%; width: 65% !important;">
    <h3 class="mb-0" style = "text-align: center;
    font-weight: 700;
    font-size: 34px;
    margin-top: 35px;"><i></i>Assigned Courses</h3>

    
   <div class="views-field views-field-name">
    <table class="table">
        <thead>
            <tr>
            <th scope="col" style="text-align: center;">Coure Name</th>
            <th scope="col" style="text-align: center;">Applied Course</th>
            </tr>
        </thead>
        <tbody>
           {% for rec in items %}
         <tr>
            <td><h3 class="mb-0"><i></i>{{ rec }}</h3></td>
            <td><a href="/drupal-elearning/studentlist/{{ rec }}">Applied Students</a></td>
          </tr>
            
        {% endfor %}
        </span>

        
            
            
        </tbody>
      
        </table>
    
    </div>
</div>

<div class="col-3"></div>


<script>
$("#block-login-link a").text("Logout");
</script>